<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.iwown.iwownfit</string>
    <key>RunAtLoad</key>
    <true/>
    <key>ProgramArguments</key>
    <array> <string>/Users/scow/shellScript/dailybuild/script/iwownfit.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Hour</key>
            <integer>8</integer>
            <key>Minute</key>
            <string>08</string>
        </dict>
    </array>
    <key>StandardOutPath</key>
    <string>/Users/scow/shellScript/dailybuild/outlog</string>
    <key>StandardErrorPath</key>
    <string>/Users/scow/shellScript/dailybuild/errorlog</string>
</dict>
</plist>
